#main{
    margin: 2% 5%;
}
h1{ padding-left: 10px;
    padding-top: 4%;
    width: 30%;
    float:left;
    margin-top: 0%;
}
nav{
    float: right;
    width: 40%;
}
ul{
    padding-top: 0%;
    list-style: none;
    float: right;
}
li{
    float: left;
    margin: 0px 5px;
}
#gray-box{
    clear: both;
    background-color: rgb(100, 215, 215);
    padding: 20px;
}
.section{
    width: 25%;
    float: left;
    margin: 4%;
}
.div1{
    background-color: rgb(223, 130, 215);
    height: 15%;
    text-align: center;
}
#main-page{
    margin: 0px;
}
body{
    margin: 0px;
}
.row:after {
    content: "";
    display: table;
    overflow: hidden;
  }
@media screen and (max-width:600px) {
    .section {
      width: 50%;
      margin: 10% 30%;
    }
  }
  #gray-box2{
    background-color: rgb(223, 215, 140);
    clear: both;
}
#bottom-tag{
    text-align: center;
    padding: 2%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: ghostwhite;
    padding:2px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }